body {
    background: #1abc9c; 
    font-family: Tahoma, Arial, sans-serif; 
    color: #333;
}
table {
    border-collapse: collapse;
    min-width: 100%;
}
p, h4 {
    font-size: 20px; 
    margin-bottom: 0;
}
h4 {
    font-size: 54px; 
}
ul, ol {
    margin: 0;
}
table tr td {
    padding: 5px;
}



.picture{
    max-height: 30px;
    width: auto;
}
.zagolovok{
    font-family: 'Times New Roman', Times, serif;
}